.App {
  text-align: center;
}

.Header{
  background-color: #1e2427;
  position: fixed;
  top: 0;
  width: calc(100% - 300px );
  padding: 15px 20px 13px 20px;
  margin-left: 300px;
  box-shadow: 0 1px 10px #000;
}
.dropdown-item:hover{
  background-color: #f43636;
}
.content-icon{
  text-align: left;
}
.notification {
  color: white;
  line-height: 38px;
}
.dropdown-profile .dropdown{
  float: right;
}
.NavVertical {
  margin-top: 0px;
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: #212121;
  border-right: 1px solid #000000;
  padding: .5rem 1rem;
}
.NavVertical .title{
  text-align: center;
  font-size: 2rem;
}
.NavVertical .title:hover{
  background-color: initial;
  color: white;
}
.NavVertical .title .t{
  color: white;
  font-weight: bold;
}
.NavVertical .Dash{
 color: #e4e4e4;
}
.NavVertical .Dash:hover{
  background-color: initial;
}
.NavVertical .nav-link{
  padding: 0;
}
.links {
  position: relative;
}
.links .nav-link:before{
    content: "\f105";
    color: #c8c9ce;
    font-family: 'Fontawesome';
    font-size: 18px;
    position: absolute;
    top: 9px;
    right: 0;
    text-align: right;
}
.NavVertical .content-title{
  color: white;
  /*background-color: #f43636;*/
  margin: 0px;
  padding: 5px 0px;
}
.NavVertical a{
  color: #f43636;
  text-align: left;
  padding-top: 15px;
}
.NavVertical a:hover{
  color: white;
  background-color: #f43636;
}
.NavVertical .cel-border{
  border-bottom: 1px solid gray;
  padding: 15px 0;
}
.NavVertical a .icon{
  margin-right: 55px;
  margin-left: 7px;
}
.NavVertical a .icon2{
  margin-left: 55px;
  margin-right: 7px;
}
.NavVertical h3{
  margin-top: 42px;
  text-align: left;
  color: #949494;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.Container-Dash{
  padding: 20px;
  padding-left: 320px;
  padding-top: 89px;
  background-color: #eaedf1;
  height: 100vh;
}
.table-responsive thead{
  background-color: #212121;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
