.App {
  text-align: center;
}

.NavVertical {
  width: 100px;
  height: 100%;
  position: fixed;
  background-color: #212121;
  border-right: 1px solid red;
}
.NavVertical p{
  color: white;
  background-color: black;
  background-color: red;
  margin: 0px;
  padding: 5px 0px;
  
}
.NavVertical a{
  color: red;
  border-top: 1px solid gray;
}
.NavVertical a:hover{
  color: white;
  background-color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
